/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

body {
	background-color:#333;
	&.listening {
		@include transition(background-color .1s ease-in-out);
		background-color:#00FF00;
	}

	&.not-listening {
		@include transition(background-color 1s ease-in-out);
		background-color:#333;
	}
	&.blush {
		@include transition(background-color 1s ease-in-out);
		background-color:#e491f9;
	}
}

#message-area, #log {
	font-size:2em;
	font-family:helvetica;
	color:#fff;
	padding:1em;
	text-align:center;
}

#log {
	font-family:georgia;
	color:#ddd;
}

#details {
	font-size:1em;
	color:#fff;
}